

<% if(error_msg) { %>
  <%= error_msg %>
<% } %>
<form class="" action="/login" method="post">
  <label style="display: block;">Username:</label>
  <input type="text" name="userid" >
  <label style="display: block;">Password:</label>
  <input type="password" name="password" >
  <br><br>
  <button type="submit" name="button" class="btn btn-primary">Submit</button>
</form>
<div class="btn btn-primary">
  <a href="/signup" class="text-decoration: none">
    SignUp
  </a>
</div>
